doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Heebo: 300,400|Roboto: 300,400" rel="stylesheet")
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    style(type='text/css', scoped).
           body {
             background: #FAFAFA;
           }
           .wrapper {
             display: flex;
             height: 100vh;
             width: 100%;
             align-items: center;
             justify-content: center;
             font-family: 'Roboto', 'Arial', sans-serif;
             font-weight: 400;
           }
           .form {
             display: flex;
             flex-direction: column;
             width: 60%;
             align-items: center;
             padding: 30px;
             border-radius: 3px;
             box-shadow: 0 2px 4px 1px #DADADA;
             background: #fff;
           }
           .card {
             display: flex;
             flex-direction: column;
             align-items: center;
             width: 60%;
             padding: 20px 0;
           }
           .title {
             margin: 20px 0;
             font-size: 24px;
             font-weight: 300;
             color: #333;
           }
           .label {
             color: #333;
           }
           .input {
             width: 100%;
             border: 1px solid #e4e6ee;
             margin: 10px 0;
             padding: 10px 15px;
             font-size: 13px;
             font-family: Heebo;
             font-weight: 400;
             border-radius: 3px;
             outline: none;
           }
           .input:focus {
             border: 1px solid #3bb0e5;
           }
           .input::placeholder {
             font-family: 'Heebo';
             font-weight: 300;
             font-weight: 300;
             color: #CACCD2;
           }  
           .btn {
             margin: 20px 0 10px 0;
             padding: 12px 35px;
             border: 1px solid #94b1e6;
             text-transform: uppercase;
             font-family: 'Heebo';
             font-size: 14px;
             font-weight: 400;
             line-height: 16px;
             border-radius: 3px;
             color: #fff;
             background: #3bb0e5;
             cursor: pointer;
           } 
           .btn:hover {
             border: 1px solid #63c8f6; 
             background: #63c8f6;
           }
           @media (max-width: 800px) {
             .form {
               width: 100%;
               padding: 20px 0;
             }
             .card {
               width: 80%;
               padding: 15px 0;
             }
           }
  body
    .wrapper
      form.form(method='POST')
        legend.title Reset Password
        .card
          label.label(for='password') New Password
          input.input(type='password', id="password" name='password', value='', placeholder='New password', autofocus=true, minlength="6")
        .card
          label.label(for='confirm') Confirm Password
          input.input(type='password', name='confirm', id="confirm" value='', placeholder='Confirm password',  minlength="6")
        .card
          button.btn(type='submit') Update Password

script.
  var password = document.getElementById("password"), confirm = document.getElementById("confirm");

  function validatePassword(){
    if(password.value != confirm.value) {
      confirm.setCustomValidity("Passwords Don't Match");
    } else {
      confirm.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm.onkeyup = validatePassword;
